
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  }
  
  body {
  animation: fadeIn 0.5s ease-out;
  }
  

  body {
    animation: fadeIn 0.5s ease-in;
  }
   */


   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbutton a{
    box-sizing: border-box;
    transition: 0.3s ease-out;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
  }
  
  
  .navbutton a:hover{
    transition: 0.3s ease-out;
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0 0 10px rgb(255, 255, 255);
  }
  


  /* NAVBAR */
  
  body{
    background-color: #000000;
    color: white;
  }
  .top-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust height as needed */
    overflow: hidden;
}

  .top-section::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('PHOTOS/LandingPage/LandingPageBg1.png') no-repeat center center;
      background-size: cover;
      filter: brightness(50%); /* Adjust the brightness here */
      z-index: -1;
  }

  .nav-bar{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    position: fixed;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.088);
    backdrop-filter: blur(5px);
    z-index: 1000;
  }
  
  .nav-container{
    margin: auto;
    width: 100%;
    padding: 10px 20px;
  }
  .nav-items{
    width: 60%;
  }
  
  .nav-items p{
    margin: 0;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  
  .nav-items .navbutton a{
    padding: 5px;
  }
  
  a{
    text-decoration: none;
    color: white;
    
  }

  
  .navbutton{
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .logo p{
    padding: 0;
    margin: 0;
    font-family: "Kaisei HarunoUmi", serif;
    font-weight: 400;
    font-style: normal;
  
  }
  
  .jmword{
    font-size: 13px;
  }
  .jmword .fletter{
    color: #b99d7d;
    font-size: 18px;
    font-weight: 500;
  }
  

  .main-contact-section{
    background:url(PHOTOS/ContactPage/ContactCover.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }



/* FILL UP BOX */
.card{
  border-radius: 20px;
}
.contact-information{
  background-color: #907663;
  border-radius: 20px;
  width: 400px;
  
}

.card.border-white {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent; /* Remove background color */
}

.card.border-white h3 {
  color: #ffffff;
}

.card.border-white p {
  color: #ffffff;
}

.name input{
  width: 290px;
}

.card.border-white input.form-control,
.card.border-white textarea.form-control {
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}

.card.border-white input::placeholder,
.card.border-white textarea::placeholder {
  color: #646464;
}


button.btn.btn-primary {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

button.btn.btn-primary:hover {
  background-color: #fff;
  color: #000000;
}


/* FOOTER */
.footer div, h4, p{
  margin: 2px;
  padding: 0;
  font-family: "Inter";
}
.footer-logo{
  width: 100px;
  height: 100px;
}
.footer div h4{
  color: #AF987D;
  font-weight: 500;
  margin-bottom: 5px;
}
.footer div p{
  font-weight: 200;
  font-size: 14px;
  transition: 0.3s ease-out;
}
.terms, .harang, .privacy{
  font-size: 14px;
  font-weight: 200;
  
}
.terms, .privacy{
  color: #ddb485;
}

.terms:hover, .privacy:hover{
  font-size: 14px;
  font-weight: 200;
  text-decoration: underline;
  text-underline-offset: 3px;
  
}

.footer div p:hover{
  transition: 0.15s ease-out;
  text-shadow: 0 0 10px white;
  text-underline-offset: 2px;
}



