<div class="content-box font-monospace fw-semibold small pt-4 pb-3 px-3 rounded-bottom-2 rounded-start-2">
    <p class="heading-bold">Kia Ora Cafe Website</p>
    <ul class="d-flex flex-row list-unstyled gap-3 mb-0">
        <p>Made by: Dustin Dwayne N. Diaz</p>
        <li><a class="h5" target="_blank" href="https://www.facebook.com/buday.py/"><span
                    class="socia bi bi-facebook"></span></a></li>
        <li><a class="h5" target="_blank" href="https://www.instagram.com/mapang.he/"><span
                    class="socia bi bi-instagram"></span></a></li>
        <li><a class="h5" target="_blank" href="https://www.tiktok.com/@dust.dev"><span
                    class="socia bi bi-tiktok"></span></a></li>
    </ul>
    <p>Documentations: <a class="dl-link fst-italic link-underline-opacity-0 link-underline-opacity-75-hover" href="files/DevelopmentDocumentation.pdf">Development</a> | <a class="dl-link fst-italic link-underline-opacity-0 link-underline-opacity-75-hover"
            href="files/UserGuide.pdf">User Guide</a></p>
    <div class="form-check form-switch">
        <label for="dark-mode-slide" class="form-check-label form-label">Dark Mode</label>
        <input type="checkbox" id="dark-mode-slide" class="form-check-input" role="switch">
    </div>
</div>
<div class="panel-toggle d-block">
    <button class="btn btn-no-hover rounded-0 rounded-end-2" id="panelButton">
        <span class="bi bi-chevron-double-right" id="panelButtonIcon"></span>
    </button>
</div>